<div class="container login">
  <div class="login-form">
    <div><input [(ngModel)]="login" pInputText placeholder="Login" type="text"></div>
    <div><input [(ngModel)]="password" pInputText placeholder="Password" type="password"></div>
    <p-button (onClick)="loginSubmit()" class="ui-button-secondary" label="Login"></p-button>
  </div>
  <div class="ui-inputgroup login-form">
    <div class="ui-g">
      <div class="ui-g-7">
        <p>Do not have an account?</p>
      </div>
      <div class="ui-g-2">
        <p-button label="Registration" routerLink="/registration"></p-button>
      </div>
      <div class="ui-g-2"></div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="errorMessage" [baseZIndex]="10000" [maximizable]="true" [minY]="70" [modal]="true"
          [resizable]="false" [responsive]="true" header="Error">
  <span>{{ errorMessage }}</span>
  <p-footer>
    <button (click)="errorMessage = undefined" label="Close" pButton type="button"></button>
  </p-footer>
</p-dialog>
